@tailwind base
@tailwind components
@tailwind utilities

.App 
  .keys
    @apply flex justify-between flex-wrap

    .key-wrapper
      animation-duration: 0.2s
      @apply content-center items-center justify-center text-center
      
      kbd.key
        width: 100px
        height: 100px
        border: 1px solid #fff
        @apply flex text-3xl text-white uppercase m-5 justify-center content-center items-center cursor-pointer
      
        &.playing
          color: #e2dd24
          border-color: #e2dd24
      
      .sound
        color: #e2dd24
        letter-spacing: 0.2rem
        position: relative
        @apply font-bold uppercase
